name: Tests (OS versions)

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]
  workflow_dispatch:

jobs:

  build:
    name: OS tests
    runs-on: ${{ matrix.os }}

    # Skip job if it's a draft PR
    if: github.event.pull_request.draft == false

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: install pints
        run: |
          python --version
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install .

      - name: run tests
        run: |
          python3 -m pytest --cov=isaricanalytics --cov-report=xml
